body {
    background: rgb(216,238,174);
    background: radial-gradient(circle, rgba(216,238,174,1) 0%, rgba(148,233,186,1) 100%);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif ;
}

.Content{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}

.Content header,
.Content main,
.Content aside,
.Content footer{
    padding: 20px;
    border-radius: 10px;
}

.Content header{
    background: rgb(80, 212, 110);
    grid-column: 1 / 4;
}

.Content aside{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: span 2;
}

.Content main{
    color:#000;
    grid-column: span 2;
}

.Content footer{
    background: rgb(128, 126, 126);
    grid-column: 1 / 4;
}

.Content .footer{
    font-style: italic;
    font-size: 15px;
}

.Content .Integrantes{
    float: left;
}

.Content .titulo{
    display: inline-block;
    vertical-align: top;
    font-size: 40px;
    padding-left: 10px;
}

img .logo{
    background: #fff;
    border-radius: 50%;
}

.Prototipo1{
    display: inline-block;
    text-align: left;
}

.Prototipo2{
    display: inline-block;
    text-align: right;
}

.Prototipo3{
    display: block;
    margin: auto;
}

a{
    color: #000;
}

a:hover{
    text-decoration: none;
    opacity: 1;
    transition-duration: .5s;
}



@media screen and (max-width: 768px){
	.Content main{
        grid-column: 1 / -1;
    }
    .Content aside{
        grid-column: 1 / -1;
    }
    .Content .Evidencias{
        grid-column: span 2;
    }
}

/*Barra de menú*/

.navegacion{
	width: 100%;
	margin: auto;
    background: rgb(96, 228, 136);
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    border-radius: 10px;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
    display: block;
    font-size: 20px;
	padding: 15px 20px;
	color: #fff;
	font-family: 'Arial';
    text-decoration: none;
    font-weight: bold;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}