body {
    background-color:#fff;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif ;
}

.Content{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}
.Content > div,
.Content header,
.Content main,
.Content aside{
    background: #000;
    padding: 20px;
    border-radius: 5px;
}

.Content header{
    background: rgb(80, 212, 110);
    grid-column-start: 1;
    grid-column-end: 4;
}

.Content .Evidencias,
.Content .Desarrollo{
    background: rgb(80, 212, 110);
    color: #fff;
    height: 100px;
    text-align: left;
    align-items: left;
}

.Content aside{
    background: rgb(80, 212, 110);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: span 2;
}

.Content main{
    background: rgb(80, 212, 110);
    grid-column: span 2;
}

.Content .titulo{
    display: inline-block;
    vertical-align: top;
    font-size: 40px;
    padding-left: 10px;
}

img{
    background: #fff;
    border-radius: 50%;
}

/*@media screen and (max-width: 768px){
	.Content {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
						 "widget-1 widget-1 widget-2";*/