@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body { font-family: 'Poppins', sans-serif; 
      /* background-image: url("C:\Users\Asus\Desktop\SEMINARIO\imagenes\algoritmo.png");*/
       background-repeat: no-repeat;
       background-size: 100% 200%; }

       /* OKAY */
       /*background-size: 25px 50px;
       background-size: 50% 50%;*/

    h1 { color: white;
        text-transform: uppercase;
        text-align:center;
        font-size:45px; }


    main{ width: 900PX;
        background-color: white;
        height: 500px;
        margin: auto; 
        padding: 100PX;  }

    div{background-image: url(../imagenes/banner.jpg);
        background-repeat: no-repeat;
        height: 800px;}

    h2{ text-align: center;
        /*border-bottom: 1px solid gray;}

        p + p {background-color: #333;
                color: #ccc;}