/* Cuerpo de la página*/
body {
    background: rgb(216,238,174);
    background: radial-gradient(circle, rgba(216,238,174,1) 0%, rgba(148,233,186,1) 100%);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif ;
}
/* Contenido general de la página*/
.Content{
    width: 100%;
    max-width: auto;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}
/* Diseño de los bloques*/
.Content header,
.Content main,
.Content aside,
.Content footer{
    padding: 20px;
    border-radius: 10px;
}

.Content header{
    background: rgb(80, 212, 110);
    grid-column: 1 / 4;
}

.Content aside{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: span 2;
}

.Content .yurgen{
    border-radius: 10px;
}

.Content main{
    color:#000;
    grid-column: span 2;
}

.Content .textomain{
    text-align: justify;
}

.Content footer{
    background: rgba(80, 212, 110);
    grid-column: 1 / 4;
}
/* Correo */
.Content .footer{
    font-style: italic;
    font-size: 15px;
}

.Content .Integrantes{
    float: left;
}

.Content .funciones{
    padding-left: 50px;
    float: left;
}

.Content .instructor{
    padding-left: 260px;
    float: left;
}

.Content .logosena{
    display: inline-block;
    vertical-align: top;
    padding-left: 240px;
}

.Content .logocol{
    display: inline-block;
    vertical-align: top;
    padding-left: 60px;
}

.Content .titulo{
    display: inline-block;
    vertical-align: top;
    font-size: 40px;
    padding-left: 100px;
}

.escalaimg{
    border-style: solid;
    border-width: 5px;
}

.Prototipo1{
    display: inline-block;
    text-align: left;
}

.Prototipo2{
    display: inline-block;
    text-align: right;
}

.Prototipo3{
    display: block;
    margin: auto;
}


/*Barra de menú*/

.navegacion{
	width: 93%;
	margin: 0px auto 0px auto;
    background: rgb(96, 228, 136);
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    border-radius: 10px;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
    display: block;
    font-size: 20px;
	padding: 10px 50px;
	color: #fff;
	font-family: 'Arial';
    text-decoration: none;
    font-weight: bold;
}

.menu li a:hover{
	color: #CE7D35;
    transition: all .3s;
}
/* Submenu*/
.submenu{
	position: absolute;
	background: rgb(96, 228, 136);
	width: 100%;
    visibility: hidden;
    border-radius: 10px;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 18px;
    color: #fff;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
/* Propiedades de las citas*/
cite{
    display: block;
    text-align: right;
}